<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/krahul/Downloads/API_Automation Jan 18/API_Automation">
        <classes>

            <class name="com.learn.tests.order.GetOrderAPITest"></class>
            <class name="com.learn.tests.order.GetOrderByIdAPITest"></class>
            <class name="com.learn.tests.order.PostOrderAPITest"></class>
            <class name="com.learn.tests.order.PutOrderByIdAPITest"></class>
            <class name="com.learn.tests.order.DeleteOrderByIdAPITest"></class>
        </classes>
    </test>
</suite>